$dominantColor: #1BCAFF;
$listColor: #333;
$textColor: #333;

@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,300);

html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}
.container {
  font-family: 'Open Sans', sans-serif;
  font-weight: lighter;
}
.header {
  font-size: 0.5em;
  background: color($dominantColor a(80%));
  padding: 10px;
  margin: 0;
  color: $textColor;
  text-align: center;
  border-bottom: 2px solid color($dominantColor blackness(40%));
}
.wrapper {
  .content {
    position: relative;
    min-height: 100%;
  }

  .demo {
    border: 1px solid #efefef;
    padding: 10px;
  }

  .container {
    padding: 15px;
    margin: 10px 0;
  }
}
